{% extends 'shop/base.html' %}

{% block title %} Payment Cnacle  {% endblock %}

{% block body %}
<div class="alert alert-warning" role="alert">
    <h4 class="alert-heading">"Payment Cancelled!</h4>
"Payment Cancelled
<p>We're sorry to hear that your payment has been cancelled. If you would like to continue shopping, please return to your
cart and try again. If you have any questions or concerns, please contact our customer support team."</p>
    <hr>
    <p class="mb-0"> <a href="/">Retrun to site</a></p>
</div>

{% endblock %}
