{% extends 'shop/base.html' %}
{% load mathfilters %}

{% block title %} Chechout {%endblock %}

{% block body %}
<style>
    .checkout-container {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        gap: 30px;
        width: 80%;
        padding: 20px;
        border: 1px solid black;
    }

    .customer-shipping-details {
        height: auto;
        width: 50%;
        padding: 20px;
        border: 1px solid black;
    }
    .card-items-details{
        border: 1px solid black;
        width: 47%;


    
    }
    li{
        list-style: none;
    }
</style>

<div class="checkout-container">

    <div class="customer-shipping-details">
        <h1>Shipping Details</h1>
        <ul>
            <li>Ship To : <strong> {{customer.full_name}} | {{customer.email}}</strong></li>
            <li> Shipping Address : <strong> {{customer.address_line_1}}  {{customer.address_line_2}}, {{customer.city}},{{customer.state}},  {{customer.postal_code}}</strong></li>
            <li> Content :  <strong>{{customer.phone}}</strong></li>

        </ul>

        
            <button id="submitBtn"> Make Payment</button> <button> <a href="{% url 'profile' id=request.user.id %}">Update Shipping address</a></button>

    </div>

<div class="card-items-details">
    
    {% if cart_items %}
    <strong>Your cart have {{cart_items|length}} items.</strong>

    
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Products </th>
                <th scope="col">Quantity</th>
                <th scope="col">Total</th>
            </tr>
        </thead>
        {% for item in cart_items %}
        <tbody>
            <tr>
                {% with item_total=item.quantity|mul:item.product.price %}
                {% with total=total|add:item_total %}
                {% endwith %}
                {% endwith %}
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ item.product.title }}</td>
                <td>{{ item.quantity }}</td>
                <td>{% with total=item.quantity|mul:item.product.price %}
                {{ total }}
                {% endwith %}</td>
            </tr>
            
        </tbody>
        {% empty %}
        <div>Your cart is empty.</div>
        {% endfor %}
        <h4>Total: <strong> {{ cart_items.get_total_cost }}</strong></h4>

        
    </table>
        {% endif %}



</div>


</div>
<script src="https://js.stripe.com/v3/"></script>
<script>


    fetch("/config/")
        .then((result) => { return result.json(); })
        .then((data) => {
            const stripe = Stripe(data.publicKey);

            document.querySelector("#submitBtn").addEventListener("click", () => {
                fetch("/create-checkout-session/")
                    .then((result) => { return result.json(); })
                    .then((data) => {
                        console.log(data);
                        console.log(data.sessionId);
                        return stripe.redirectToCheckout({ sessionId: data.sessionId})
                        console.log(data.sessionId);

                    })
                    .then((res) => {
                        console.log(res);
                    });
            });
        });

</script>



{% endblock %}