{% extends 'shop/base.html' %}

{% block title %}Payment Success {% endblock %}

{% block body %}


<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Congratulations! Your payment has been successfully processed !</h4>
    <p>order and it will be processed and shipped soon. You will receive a confirmation email shortly with your order details
    and tracking information. If you have any questions or concerns about your order, please do not hesitate to contact our
    customer support team. Thank you again for choosing our website for your shopping needs..</p>
    <hr>
    <p class="mb-0"> <a href="/">Retrun to site</a></p>
</div>



{% endblock %}

