.active{
    background-color: #0da9ef;
    border-radius: 10px;
}

.sub-nav{
    margin-top: 100px;
}
.sactive{
    background-color: #ce3939;
    border-radius: 5px;
}
.sub-nav a{
    text-transform: capitalize;
    font-size: 20px;
    color: black;

}