{% extends 'shop/base.html' %}
{% block body %}
    <h1>User login</h1>
    <form action="" method="post">
        {% csrf_token %}
      <label for="username">Username</label>
        <input type="text" name="username" id="username">
        <br>
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
        <input type="submit" value="Login">
    </form>
    {% if messages %}
    <ul>
      {% for message in messages %}
      <div class="alert alert-warning" role="alert">
        <li>{{ message }}</li>
      </div>
    </ul>
    {% endfor %}
{% endblock %}