{% extends 'shop/CategoryBase.html' %}

{% block title %}Categoy wise{% endblock %}

{% block body %}

<style>
    .product-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        margin-top: 40px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .card{
        width: 390px;
        height: 350px;
    }

</style>

    <div class="product-container">
        {% for product in products %}
        {% if products %}
        <div class="card">
            <a href="{{ product.get_absolute_url }}">
                <img class="bd-placeholder-img card-img-top" width="100%" height="200"
                     src="{{ product.first_images.url }}">
                <div class="card-body">
                    <h5 class="card-title font-weight-bold">$ {{ product.price }}</h5>
                    <p class="card-text">{{ product.title|truncatechars:40 }}</p>
                    <p class="card-text">{{ product.description|truncatechars:70 }}</p>
                </div>
            </a>
        </div>
        {% else %}
        <h1>No Products in this category</h1>
        {% endif %}
        {% endfor %}






    </div>
</div>


{% endblock %}